In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("ai_job_dataset.csv")

In [22]:
df_cleaned = df.dropna()
filter = df_cleaned['company_location'] == 'United States'
df_cleaned = df_cleaned[filter]

In [23]:
df_longer = df_cleaned.melt(
    id_vars=['experience_level', 'company_size'],
    value_vars="salary_usd",
    var_name="salary"
)

In [24]:
df_pivot = df_longer.pivot_table(
    index=['experience_level', 'company_size'],
    columns='salary',
    aggfunc='mean'
)