In [1]:
import sidrapy as sidra
import numpy as np

In [2]:
df = sidra.get_table(
    '4714',
    3,
    'all'
)

In [3]:
df.head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável
1,3,Unidade da Federação,45,Pessoas,1581196,11,Rondônia,2022,2022,93,População residente
2,3,Unidade da Federação,26,Quilômetros quadrados,237754.172,11,Rondônia,2022,2022,6318,Área da unidade territorial
3,3,Unidade da Federação,28,Habitante por quilômetro quadrado,6.65,11,Rondônia,2022,2022,614,Densidade demográfica
4,3,Unidade da Federação,45,Pessoas,830018,12,Acre,2022,2022,93,População residente

In [4]:
df = df[['D1N', 'V', 'D3N']]

In [5]:
df.head()

                    D1N           V                          D3N
0  Unidade da Federação       Valor                     Variável
1              Rondônia     1581196          População residente
2              Rondônia  237754.172  Área da unidade territorial
3              Rondônia        6.65        Densidade demográfica
4                  Acre      830018          População residente

In [6]:
df = df.iloc[1:, :].reset_index(drop=True)

In [7]:
df.head()

        D1N           V                          D3N
0  Rondônia     1581196          População residente
1  Rondônia  237754.172  Área da unidade territorial
2  Rondônia        6.65        Densidade demográfica
3      Acre      830018          População residente
4      Acre  164173.429  Área da unidade territorial

In [8]:
df = df.rename(columns={
    'D1N':  'uf',
    'V':  'valor',
    'D3N':  'variavel'
})

In [9]:
df.columns

Index(['uf', 'valor', 'variavel'], dtype='object')

In [10]:
df.dtypes

uf          object
valor       object
variavel    object
dtype: object

In [11]:
df['valor'] = df['valor'].astype(np.float64)

In [12]:
df.dtypes

uf           object
valor       float64
variavel     object
dtype: object

In [13]:
df['variavel'].value_counts()

variavel
População residente            27
Área da unidade territorial    27
Densidade demográfica          27
Name: count, dtype: int64

In [15]:
df.to_csv('tabela_4714_limpa.csv', index=False)