# 1 Initial Settings

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2 Importing Data

In [35]:
df_men = pd.read_csv("Mens_Boston_Marathon_Winners.csv")
df_women = pd.read_csv("Womens_Boston_Marathon_Winners.csv")

# 3 Handling Data

## 3.1 Handling men's data

### 3.1.1 Removing Empty Values

In [36]:
df_men_cleaned = df_men.dropna()

### 3.1.2 Unpivoting Data

In [37]:
df_men_longer = df_men_cleaned.melt(
    id_vars="Country",
    value_vars="Distance (KM)",
    var_name="Distances"
)

### 3.1.3 Pivoting Data

In [38]:
df_men_pivot = df_men_longer.pivot_table(
    index="Country",
    columns="Distances",
    aggfunc="sum"
)

## 3.2 Handling Women's Data

### 3.2.1 Removing Empty Values

In [39]:
df_women_cleaned = df_women.dropna()

### 3.2.2 Unpivoting Data

In [40]:
df_women_longer = df_women_cleaned.melt(
    id_vars="Country",
    value_vars="Distance (KM)",
    var_name="Distances"
)

### 3.2.3 Pivoting Data

In [41]:
df_women_pivot = df_women_longer.pivot_table(
    index="Country",
    columns="Distances",
    aggfunc="sum"
)

# 4 Settings For Plotting A Horizontal Bar Chart

## 4.1 For Men

In [42]:
n_items_men = len(df_men_pivot.index)
y_pos_men = np.arange(n_items_men)
bar_height = 0.8

## 4.2 For Women

In [43]:
n_items_women = len(df_men_pivot.index)
y_pos_women = np.arange(n_items_women)
bar_height = 0.8

## 4.3 Plot's Color

In [44]:
colors = plt.cm.Set2.colors

# 5 Plotting A Horizontal Bar Chart

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(12, 8))