# 1 Initial Settings

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2 Importing Data

In [2]:
df_men = pd.read_csv("Mens_Boston_Marathon_Winners.csv")
df_women = pd.read_csv("Womens_Boston_Marathon_Winners.csv")

# 3 Handling Data

## 3.1 Handling men's data

### 3.1.1 Removing Empty Values

In [3]:
df_men_cleaned = df_men.dropna()

### 3.1.2 Unpivoting Data

In [4]:
df_men_longer = df_men_cleaned.melt(
    id_vars="Country",
    value_vars="Distance (KM)",
    var_name="Distances"
)

### 3.1.3 Pivoting Data

In [5]:
df_men_pivot = df_men_longer.pivot_table(
    index="Country",
    columns="Distances",
    aggfunc="sum"
)

## 3.2 Handling Women's Data

### 3.2.1 Removing Empty Values

In [6]:
df_women_cleaned = df_women.dropna()

### 3.2.2 Unpivoting Data

In [7]:
df_women_longer = df_women_cleaned.melt(
    id_vars="Country",
    value_vars="Distance (KM)",
    var_name="Distances"
)

### 3.2.3 Pivoting Data

In [8]:
df_women_pivot = df_women_longer.pivot_table(
    index="Country",
    columns="Distances",
    aggfunc="sum"
)