IMPORTAÇAO DAS BIBLIOTECAS

In [1]:
import pandas as pd
import numpy as np
import janitor

DATASET: QUANTITATIVO DE PROPOSTAS DE PROJETOS POR ANO E ÁREA CULTURAL

In [2]:
df = pd.read_excel('grid_Qtde_Proposta_Transformada_Por_Ano_Area.xlsx')

In [3]:
df.head()

,Área Cultural,2.009,2.01,2.011,2.012,2.013,2.014,2.015,2.016,2.017,2.018,2.019,2.02,2.021,2.022,2.023,2.024,2.025,Total
0,NaN,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde,Qtde
1,Artes Cênicas,1305,1975,2029,1811,2094,2270,2193,1506,1862,1826,1252,1727,677,845,3619,4409,2258,33658
2,Artes Integradas,1111,878,622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2611
3,Artes Visuais,289,543,577,532,690,697,633,372,454,526,298,426,260,273,1267,1695,987,10519
4,Audiovisual,454,685,974,750,631,605,539,468,393,462,441,515,493,244,638,1419,1005,10716

In [4]:
df.dtypes

Área Cultural    object
2.009            object
2.01             object
2.011            object
2.012            object
2.013            object
2.014            object
2.015            object
2.016            object
2.017            object
2.018            object
2.019            object
2.02             object
2.021            object
2.022            object
2.023            object
2.024            object
2.025            object
Total            object
dtype: object

In [5]:
df = df.iloc[1:, :].reset_index(drop=True)

In [6]:
df.dtypes

Área Cultural    object
2.009            object
2.01             object
2.011            object
2.012            object
2.013            object
2.014            object
2.015            object
2.016            object
2.017            object
2.018            object
2.019            object
2.02             object
2.021            object
2.022            object
2.023            object
2.024            object
2.025            object
Total            object
dtype: object

LIMPEZA E TRANSFORMAÇÃO DE DADOS

In [7]:
pt_flutuante = np.round(np.arange(2.009, 2.026, 0.001), decimals=4)
pt_flutuante

array([2.009, 2.01 , 2.011, 2.012, 2.013, 2.014, 2.015, 2.016, 2.017,
       2.018, 2.019, 2.02 , 2.021, 2.022, 2.023, 2.024, 2.025])

In [8]:
anos_int = np.arange(2009, 2026)
anos_int

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022, 2023, 2024, 2025])

In [9]:
anos = dict(zip(pt_flutuante, anos_int))
anos

{np.float64(2.009): np.int64(2009),
 np.float64(2.01): np.int64(2010),
 np.float64(2.011): np.int64(2011),
 np.float64(2.012): np.int64(2012),
 np.float64(2.013): np.int64(2013),
 np.float64(2.014): np.int64(2014),
 np.float64(2.015): np.int64(2015),
 np.float64(2.016): np.int64(2016),
 np.float64(2.017): np.int64(2017),
 np.float64(2.018): np.int64(2018),
 np.float64(2.019): np.int64(2019),
 np.float64(2.02): np.int64(2020),
 np.float64(2.021): np.int64(2021),
 np.float64(2.022): np.int64(2022),
 np.float64(2.023): np.int64(2023),
 np.float64(2.024): np.int64(2024),
 np.float64(2.025): np.int64(2025)}

In [10]:
df = df.rename(columns=anos)

In [11]:
df.head()

,Área Cultural,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,Total
0,Artes Cênicas,1305,1975,2029,1811,2094,2270,2193,1506,1862,1826,1252,1727,677,845,3619,4409,2258,33658
1,Artes Integradas,1111,878,622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2611
2,Artes Visuais,289,543,577,532,690,697,633,372,454,526,298,426,260,273,1267,1695,987,10519
3,Audiovisual,454,685,974,750,631,605,539,468,393,462,441,515,493,244,638,1419,1005,10716
4,Humanidades,950,1422,1168,1017,1296,1094,1031,707,677,846,529,618,456,388,1476,1928,1061,16664

In [12]:
df = df.fillna(0)

C:\Users\lazar\AppData\Local\Temp\ipykernel_5796\3475559988.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(0)

In [13]:
df.dtypes

Área Cultural    object
2009              int64
2010              int64
2011              int64
2012              int64
2013              int64
2014              int64
2015              int64
2016              int64
2017              int64
2018              int64
2019              int64
2020              int64
2021              int64
2022              int64
2023              int64
2024              int64
2025              int64
Total             int64
dtype: object

In [14]:
df = df.clean_names()

In [15]:
df.columns

Index(['area_cultural', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024',
       '2025', 'total'],
      dtype='object')

In [16]:
df = df.melt(
    id_vars='area_cultural',
    value_vars=[str(x) for x in range(2009, 2025)],
    var_name='ano',
    value_name='qtd_propostas_transformadas'
)

In [17]:
df.head()

      area_cultural   ano  qtd_propostas_transformadas
0     Artes Cênicas  2009                         1305
1  Artes Integradas  2009                         1111
2     Artes Visuais  2009                          289
3       Audiovisual  2009                          454
4       Humanidades  2009                          950

In [18]:
df.dtypes

area_cultural                  object
ano                            object
qtd_propostas_transformadas     int64
dtype: object

In [19]:
df['ano'] = df['ano'].astype(np.int64)

In [20]:
df.dtypes

area_cultural                  object
ano                             int64
qtd_propostas_transformadas     int64
dtype: object

In [21]:
df.to_csv('qtd_propostas_transformadas.csv', index=False)