In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('WB_ESG_EN_ATM_CO2E_PC_WIDEF.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FREQ                237 non-null    object
 1   FREQ_LABEL          237 non-null    object
 2   REF_AREA            237 non-null    object
 3   REF_AREA_LABEL      237 non-null    object
 4   INDICATOR           237 non-null    object
 5   INDICATOR_LABEL     237 non-null    object
 6   UNIT_MEASURE        237 non-null    object
 7   UNIT_MEASURE_LABEL  237 non-null    object
 8   DATABASE_ID         237 non-null    object
 9   DATABASE_ID_LABEL   237 non-null    object
 10  UNIT_MULT           237 non-null    int64
 11  UNIT_MULT_LABEL     237 non-null    object
 12  OBS_STATUS          237 non-null    object
 13  OBS_STATUS_LABEL    237 non-null    object
 14  OBS_CONF            237 non-null    object
 15  OBS_CONF_LABEL      237 non-null    object
 16  1990                236 non-null    float64
 17  1991                237 non-null    float64
 18  1992                237 non-null    float64
 19  1993                237 non-null    float64
 20  1994                237 non-null    float64
 21  1995                237 non-null    float64
 22  1996                237 non-null    float64
 23  1997                237 non-null    float64
 24  1998                237 non-null    float64
 25  1999                237 non-null    float64
 26  2000                237 non-null    float64
 27  2001                237 non-null    float64
 28  2002                237 non-null    float64
 29  2003                237 non-null    float64
 30  2004                237 non-null    float64
 31  2005                237 non-null    float64
 32  2006                237 non-null    float64
 33  2007                237 non-null    float64
 34  2008                237 non-null    float64
 35  2009                237 non-null    float64
 36  2010                237 non-null    float64
 37  2011                237 non-null    float64
 38  2012                237 non-null    float64
 39  2013                237 non-null    float64
 40  2014                237 non-null    float64
 41  2015                237 non-null    float64
 42  2016                237 non-null    float64
 43  2017                237 non-null    float64
 44  2018                237 non-null    float64
 45  2019                237 non-null    float64
 46  2020                237 non-null    float64
dtypes: float64(31), int64(1), object(15)
memory usage: 87.2+ KB

In [4]:
df = df.drop(columns=[
    'INDICATOR',
    'INDICATOR_LABEL',
    'UNIT_MEASURE',
    'UNIT_MEASURE_LABEL',
    'DATABASE_ID',
    'DATABASE_ID_LABEL',
    'UNIT_MULT',
    'UNIT_MULT_LABEL',
    'OBS_STATUS',
    'OBS_STATUS_LABEL',
    'OBS_CONF',
    'OBS_CONF_LABEL',
    'FREQ',
    'FREQ_LABEL',
    'REF_AREA'
])

In [5]:
df = df.rename(columns={'REF_AREA_LABEL': 'Country'})

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  237 non-null    object
 1   1990     236 non-null    float64
 2   1991     237 non-null    float64
 3   1992     237 non-null    float64
 4   1993     237 non-null    float64
 5   1994     237 non-null    float64
 6   1995     237 non-null    float64
 7   1996     237 non-null    float64
 8   1997     237 non-null    float64
 9   1998     237 non-null    float64
 10  1999     237 non-null    float64
 11  2000     237 non-null    float64
 12  2001     237 non-null    float64
 13  2002     237 non-null    float64
 14  2003     237 non-null    float64
 15  2004     237 non-null    float64
 16  2005     237 non-null    float64
 17  2006     237 non-null    float64
 18  2007     237 non-null    float64
 19  2008     237 non-null    float64
 20  2009     237 non-null    float64
 21  2010     237 non-null    float64
 22  2011     237 non-null    float64
 23  2012     237 non-null    float64
 24  2013     237 non-null    float64
 25  2014     237 non-null    float64
 26  2015     237 non-null    float64
 27  2016     237 non-null    float64
 28  2017     237 non-null    float64
 29  2018     237 non-null    float64
 30  2019     237 non-null    float64
 31  2020     237 non-null    float64
dtypes: float64(31), object(1)
memory usage: 59.4+ KB

In [7]:
df.isna().sum()

Country    0
1990       1
1991       0
1992       0
1993       0
1994       0
1995       0
1996       0
1997       0
1998       0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
dtype: int64

In [ ]:
df['Country'].fillna(0.0)